.pytest_cache/
**/.pytest_cache/
**/__pycache__/
*.pyc
*.log
*.sqlite3
backend/cf-err.log
backend/cf-out.log
backend/localhostrun-err.log
backend/localhostrun-out.log
backend/.env
backend/.env.*
!backend/.env.example
.env
.env.*
!.env.prod.example
.idea/
.vscode/
